doctype html
html
  head
    title= title
    link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=Noto+Serif:700italic|Nobile")
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div#content
      block content
    p(class='center', style='color: #FFFFFF;')
      | &copy; 2015 
      a(href='http://kendrickcoleman.com' style='color: #FFFFFF;') kendrickcoleman.com